#app-container {
    background-color: forestgreen
    ;display: flex
}

#game-container {
    border: 5px solid black
    ;background-color: firebrick
}

#game-controls {
    display: flex
    ;flex-direction: column
    ;flex-wrap: wrap
    ;justify-content: center
    ;align-content: center
    ;background-color: white
}

#scores-container {
    border: 5px solid black
    ;background-color: royalblue
}

.step-selection-button {
    display: flex
    ;justify-content: center
    ;align-items: center
    ;width: 100px
    ;height: 100px
    ;border-radius: 100%
}

.top-row {
    display: flex
    ;justify-content: center
}

.center-row {
    display: flex
    /* ;justify-content: space-between */
}

.bottom-row {
    display: flex
    ;justify-content: center
}

#current-score {
    text-align: center
    ;background-color: white
}

/*
Chevron Shape from Anthony Ticknor via:
https://css-tricks.com/the-shapes-of-css/
*/
.chevron {
    position: relative;
    text-align: center;
    padding: 2%;
    margin-bottom: 1%;
    height: 10%;
    width: 40%;
}
.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: white;
    transform: skew(0deg, 45deg);
}
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -45deg);
}
/* end chevron shape */

#up-button {
    transform: rotate(180deg)
    ;background-color: royalblue
}

#left-button {
    align-self: center
    ;justify-self: flex-start
    ;transform: rotate(90deg)
    ;background-color: forestgreen
}

#current-score {
    justify-content: center
    ;font-size: 50px
}

#right-button {
    align-self: center
    ;justify-self: flex-end
    ;transform: rotate(270deg)
    ;background-color: firebrick
}

#down-button {
    align-self: flex-end
    ;justify-self: center
    ; background-color: orange
}

#player-name {
    justify-content: center
}

#high-scores-list {
    justify-content: flex-start
}

.active {
    opacity: 50%
}

.mistake {
    background-color: red
}
