body {
    display: flex
    ;justify-content: center
    ;align-items: center
}

#app-container {
    display: flex
    ;flex-direction: column
    ;justify-content: center
    ;align-items: center
    ;width: 90vw
    ;height: 90vh
}

#game-controls {
    display: flex
    ;flex-direction: column
    ;flex-wrap: wrap
    ;justify-content: center
    ;align-content: center
    ;background-color: white
    ;height: 100%
    ;padding: 5%
}

.step-selection-button {
    display: flex
    ;justify-content: center
    ;align-items: center
    ;width: 8vw
    ;height: 8vw
    ;border-radius: 100%
    ;opacity: 30%
    ;border: 2px solid transparent
}

.step-selection-button:hover {
    border: 2px solid black
}

.top-row {
    display: flex
    ;justify-content: center
    ;height: 8vw
    ;padding-top: 1vw
}

.center-row {
    display: flex
    ;justify-content: center
    ;align-items: center
    ;height: 8vw
}

.bottom-row {
    display: flex
    ;height: 8vw
    ;justify-content: center
    ;padding-bottom: 1vw
}

#current-score {
    text-align: center
    ;background-color: white
    ;min-width: 8vw
    ;font-size: 8vw
}

/*
Chevron Shape from Anthony Ticknor via:
https://css-tricks.com/the-shapes-of-css/
*/
.chevron {
    position: relative;
    text-align: center;
    padding: 2%;
    margin-bottom: 1%;
    height: 10%;
    width: 40%;
}
.chevron:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 51%;
    background: white;
    transform: skew(0deg, 45deg);
}
.chevron:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    background: white;
    transform: skew(0deg, -45deg);
}
/* end chevron shape */

#up-button {
    transform: rotate(180deg)
    ;background-color: royalblue
}

#left-button {
    align-self: center
    ;justify-self: flex-start
    ;transform: rotate(90deg)
    ;background-color: forestgreen
}

#right-button {
    align-self: center
    ;justify-self: flex-end
    ;transform: rotate(270deg)
    ;background-color: firebrick
}

#down-button {
    align-self: flex-end
    ;justify-self: center
    ; background-color: orange
}

.active {
    opacity: 100%
}

.step-selection-button .mistake {
    background-color: red
}
