#app-container {
    background-color: forestgreen
    ;display: flex
}

#game-container {
    border: 5px solid black
    ;background-color: firebrick
}

#game-controls {
    display: flex
    ;flex-direction: column
    ;flex-wrap: wrap
    ;justify-content: center
    ;align-content: center
    ;background-color: aquamarine
}

#scores-container {
    border: 5px solid black
    ;background-color: royalblue
}

.step-selection-button {
    text-align: center
    ;width: 20px
    ;height: 20px
    ;background-color: white
    ;margin: 2%
}

.top-row {
    display: flex
    ;justify-content: center
}

.center-row {
    display: flex
    ;justify-content: center
}

.bottom-row {
    display: flex
    ;justify-content: center
}

#current-score {
    text-align: center
    ;background-color: white
}

#left-button {
    align-self: center
    ;justify-self: flex-start
}

#right-button {
    align-self: center
    ;justify-self: flex-end
}

#down-button {
    align-self: flex-end
    ;justify-self: center
}

#player-name {
    justify-content: center
}

#current-score {
    justify-content: center
}

#high-scores-list {
    justify-content: flex-start
}

.active {
    background-color: yellow
}

.mistake {
    background-color: red
}